*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
}

/*---------hero-------------*/
.intro-text{
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.045em;
  color: #777778;
}
.intro-title{
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.name{
  font-weight: 800;
  font-size: 40px; 
}
#wedplan{
  font-size: 24px;
}
.seeresume{
  font-size: 19px;
  line-height: 20px;
  cursor: pointer;
  margin-right: 20px;
}

a{
  display: block;
  font-size: 1.4em;
  margin: 0px 25px 0px 0px;
  text-decoration: none;
}
.hirebtn{
  font-size: 19px;
  line-height: 20px;
  color: white !important;
  padding: 0 20px 0 0;
  background-color: transparent!important;
  outline: none !important;
  border: 0;
  border-radius: 3px;
  text-decoration: none !important;
}


@media (max-width: 576px) {
  .hero-image__mobile{
      height: 324px !important;
      margin-bottom: 25px;
  }

  .about-title{
      width: -webkit-fill-available;
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
  }

  .about__img{
      background: rgba(74, 122, 255, 0.02);
  }

  .readmore{
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #000000;
  }

  .about-text{
      font-size: 14px !important;
      line-height: 19px !important;
      letter-spacing: 0.015em !important;
  }
}



/*---------gallery-------------*/




.gallery__card{
  padding: 0px !important;
  box-shadow: -3px 4px 12px rgba(129, 127, 127, 0.15);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.gallery__card:hover{
  box-shadow: 2px 2px 10px #C1A87D;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.card-img-top{
  height: 55%;
}

.card-body{
  text-align: justify;
  background-color: #101011;
}

.card-row-2, .card-row-3{
  margin-top: 86px;
}
.project_details h3{
  text-align: start;
}
.project_details p, .project_details small{
  color: #817F7F;
}
.project_links{
  display: flex;
}
.project_links a{
  text-decoration: none;
  color: #817F7F;
}
.project_links a:hover{
  color: white;
}

@media (min-width: 576px) {
  .gallery__card{
      height: 540px;
      width: 30%;
  }
}

@media (max-width: 576px) {
  .gallery__card{
      height: 328px;
      width: 100%;
      margin-bottom: 32px;
  }


  .gallery__btn{
      margin-top: 30px;
      padding: 10px;
  }

  .gallery__btn_mobile {
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      text-align: center;
      color: #3036CC;

  }

  .icon__left{
      padding-left: 25px;
  
  }
}


/*-------------CONTACT-----*/
body        {background-color: #101011;}


.social     {margin-left: auto; 
            margin-right: auto;
            width: 60%; display: flex; 
            justify-content: space-evenly; }


.fab, #footer p    { color: #817F7F}

p.foot      {font-size: small; 
            text-align: center;
            }

#foot       {margin-left: auto; 
            margin-right: auto; 
}
@media screen and (max-width: 960px) {
    .social{
        width: 100%;
    }
}


